.student-panel-notices {
  margin: 8rem 0rem;
}
.student-panel-notices .student-notices {
  background: whitesmoke;
  border-radius: 0.8rem;
}
.student-panel-notices .student-notices .studentNotice img {
  width: 40px;
  background: rgb(105, 213, 247);
  border-radius: 50%;
  padding: 0.4rem;
}
.student-panel-notices .student-notices .studentNotice .badge {
  background: #341fb8;
  color: white;
}
