.student-login-section {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.student-login-section .welcome-section {
  background: #457aa8;
  color: #000000;
  text-align: center;
  z-index: 1;
  padding: 3rem;
}
.student-login-section .welcome-section #studentLoginButton {
  background: #d1a641;
  color: #000000;
}
.student-login-section h3 {
  font-size: 2rem;
}
.student-login-section .welcome-section button {
  padding: 0.5rem;
  color: #ffffff;
  background: #18363a;
  border: none;
  text-align: center;
  border-radius: 1.3rem;
}
.student-login-section .login-form {
  box-shadow: 5px 2px 30px -26px rgba(0, 0, 0, 1);
  border-radius: 0.3rem;
  padding-bottom: 3em;
}
.student-login-section .login-form form {
  padding: 1.8rem;
}
.student-login-section .login-form h3 {
  color: #000000;
  font-size: 2.5rem;
}
.student-login-section .input-group {
  display: flex;
  margin-bottom: 15px;
  position: relative;
}
.student-login-section .input-group > span i {
  padding: 10px;
  background: linear-gradient(120deg, #e2c25a 0%, #d1a641 100%);
  color: #000000;
  min-width: 50px;
  text-align: center;
}
.student-login-section .input-group span > #passwordEye {
  position: absolute;
  top: 0px;
  right: -40px;
  z-index: 2;
  background: none;
  color: black;
}
.student-login-section .form-control {
  width: 100%;
  padding: 10px;
  outline: none;
}
.student-login-section button {
  padding: 0.5rem;
  color: #ffffff;
  background: #18363a;
  border: none;
  text-align: center;
  border-radius: 1.3rem;
}
.student-login-section button:hover {
  background: #18363a;
}
